.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
caniuse.json
Gemfile.lock
test_app/tmp
test_app/app/assets/stylesheets/application/*
test_app/app/assets/stylesheets/web-fonts/*
test_app/db/*
test_app/log/*
.sass-cache
