$bumbleberry-no-markup: true !default;
$font-loading-method: "all" !default;
$fonts: () !default;
// "stylesheets": ["application"],
$background-color: "#FFF" !default;
$breakpoint-unit: "px" !default;
$unresponsive-width: 1000 !default;
$row-width: 1000 !default;
$total-columns: 12 !default;
$breakpoints: () !default;
$grid-push: () !default;
$grid-pull: () !default;
$sprites: () !default;
