// This is a map for looking up campatibilities
// It is far from complete

$buoy-no-markup: false !default;

$compatibility-map: (
	"png-alpha": png-alpha,
	"apng": apng,
	"video": video,
	"audio": audio,
	"contenteditable": contenteditable,
	"dragndrop": dragndrop,
	"internationalization": internationalization,
	"queryselector": queryselector,
	"getelementsbyclassname": getelementsbyclassname,
	"forms": forms,
	"html5": html5semantic,
	"html5elements": html5semantic,
	"html5semantic": html5semantic,
	"offline-apps": offline-apps,
	"webworkers": webworkers,
	"fontface": fontface,
	"eot": eot,
	"woff": woff,
	"multibackgrounds": multibackgrounds,
	"border-image": border-image,
	"background-img-opts": background-img-opts,
	"css-table": css-table,
	"css-gencontent": css-gencontent,
	"css-fixed": css-fixed,
	"hashchange": hashchange,
	"css-sel2": css-sel2,
	"first-child": css-sel2,
	"css-sel3": css-sel3,
	"last-child": css-sel3,
	"nth-of-type": css-sel3,
	"not-selector": css-sel3,
	"target-selector": css-sel3,
	"checked-selector": css-sel3,
	"css-textshadow": css-textshadow,
	"textshadow": css-textshadow,
	"css-boxshadow": css-boxshadow,
	"boxshadow": css-boxshadow,
	"css3-colors": css3-colors,
	"rgba": css3-colors,
	"hsla": css3-colors,
	"css3-boxsizing": css3-boxsizing,
	"boxsizing": css3-boxsizing,
	"box-sizing": css3-boxsizing,
	"css-mediaqueries": css-mediaqueries,
	"multicolumn": multicolumn,
	"border-radius": border-radius,
	"transforms2d": transforms2d,
	"transform": transforms2d,
	"use-strict": use-strict,
	"transforms3d": transforms3d,
	"sharedworkers": sharedworkers,
	"css-hyphens": css-hyphens,
	"css-transitions": css-transitions,
	"font-feature": font-feature,
	"css-animation": css-animation,
	"animation": css-animation,
	"css-gradients": css-gradients,
	"gradients": css-gradients,
	"css-canvas": css-canvas,
	"css-reflections": css-reflections,
	"reflections": css-reflections,
	"css-masks": css-masks,
	"svg": svg,
	"svg-css": svg-css,
	"svg-smil": svg-smil,
	"svg-fonts": svg-fonts,
	"svg-filters": svg-filters,
	"svg-html": svg-html,
	"svg-html5": svg-html5,
	"canvas": canvas,
	"canvas-text": canvas-text,
	"namevalue-storage": namevalue-storage,
	"sql-storage": sql-storage,
	"indexeddb": indexeddb,
	"online-status": online-status,
	"eventsource": eventsource,
	"x-doc-messaging": x-doc-messaging,
	"datauri": datauri,
	"mathml": mathml,
	"css-featurequeries": css-featurequeries,
	"xhtml": xhtml,
	"xhtmlsmil": xhtmlsmil,
	"wai-aria": wai-aria,
	"geolocation": geolocation,
	"flexbox": flexbox,
	"webgl": webgl,
	"fileapi": fileapi,
	"shadowdom": shadowdom,
	"websockets": websockets,
	"hidden": hidden,
	"script-async": script-async,
	"cors": cors,
	"calc": calc,
	"ruby": ruby,
	"css-opacity": css-opacity,
	"opacity": css-opacity,
	"form-validation": form-validation,
	"history": history,
	"json": json,
	"classlist": classlist,
	"text-overflow": text-overflow,
	"webm": webm,
	"mpeg4": mpeg4,
	"ogv": ogv,
	"wordwrap": wordwrap,
	"progressmeter": progressmeter,
	"object-fit": object-fit,
	"xhr2": xhr2,
	"minmaxwh": minmaxwh,
	"details": details,
	"text-stroke": text-stroke,
	"inline-block": inline-block,
	"notifications": notifications,
	"stream": stream,
	"svg-img": svg-img,
	"datalist": datalist,
	"dataset": dataset,
	"css-grid": css-grid,
	"menu": menu,
	"rem": rem,
	"ttf": ttf,
	"touch": touch,
	"matchesselector": matchesselector,
	"pointer-events": pointer-events,
	"blobbuilder": blobbuilder,
	"filereader": filereader,
	"filesystem": filesystem,
	"bloburls": bloburls,
	"rellist": rellist,
	"typedarrays": typedarrays,
	"deviceorientation": deviceorientation,
	"script-defer": script-defer,
	"nav-timing": nav-timing,
	"audio-api": audio-api,
	"css-regions": css-regions,
	"spellcheck-attribute": spellcheck-attribute,
	"fullscreen": fullscreen,
	"requestanimationframe": requestanimationframe,
	"input-range": input-range,
	"matchmedia": matchmedia,
	"input-datetime": input-datetime,
	"input-color": input-color,
	"input-number": input-number,
	"iframe-sandbox": iframe-sandbox,
	"css-counters": css-counters,
	"css-resize": css-resize,
	"input-placeholder": input-placeholder,
	"spdy": spdy,
	"css-repeating-gradients": css-repeating-gradients,
	"css-filters": css-filters,
	"getcomputedstyle": getcomputedstyle,
	"word-break": word-break,
	"viewport-units": viewport-units,
	"contentsecuritypolicy": contentsecuritypolicy,
	"pagevisibility": pagevisibility,
	"stricttransportsecurity": stricttransportsecurity,
	"style-scoped": style-scoped,
	"svg-fragment": svg-fragment,
	"outline": outline,
	"download": download,
	"pointer": pointer,
	"user-select-none": user-select-none,
	"webp": webp,
	"intrinsic-width": intrinsic-width,
	"cryptography": cryptography,
	"template": template,
	"opus": opus,
	"jpegxr": jpegxr,
	"channel-messaging": channel-messaging,
	"css3-tabsize": css3-tabsize,
	"mutationobserver": mutationobserver,
	"css-selection": css-selection,
	"css-placeholder": css-placeholder,
	"css-deviceadaptation": css-deviceadaptation,
	"canvas-blending": canvas-blending,
	"clipboard": clipboard,
	"rtcpeerconnection": rtcpeerconnection,
	"css3-cursors": css3-cursors,
	"css3-cursors-newer": css3-cursors-newer,
	"webvtt": webvtt,
	"promises": promises,
	"css-sticky": css-sticky,
	"dialog": dialog,
	"css-variables": css-variables,
	"vibration": vibration,
	"css-backgroundblendmode": css-backgroundblendmode,
	"css-mixblendmode": css-mixblendmode,
	"web-speech": web-speech,
	"high-resolution-time": high-resolution-time,
	"battery-status": battery-status,
	"text-decoration": text-decoration,
	"speech-synthesis": speech-synthesis,
	"user-timing": user-timing,
	"srcset": srcset,
	"ambient-light": ambient-light,
	"will-change": will-change,
	"css-shapes": css-shapes,
	"domcontentloaded": domcontentloaded,
	"proximity": proximity,
	"kerning-pairs-ligatures": kerning-pairs-ligatures,
	"iframe-seamless": iframe-seamless,
	"css-image-orientation": css-image-orientation,
	"picture": picture,
	"woff2": woff2,
	"text-size-adjust": text-size-adjust,
	"web-animation": web-animation,
	"resource-timing": resource-timing,
	"custom-elements": custom-elements,
	"imports": imports,
	"input-file-multiple": input-file-multiple,
	"atob-btoa": atob-btoa,
	"css-appearance": css-appearance,
	"css-background-offsets": css-background-offsets,
	"css-supports-api": css-supports-api,
	"css-touch-action": css-touch-action,
	"autofocus": autofocus,
	"css-clip-path": css-clip-path,
	"clip-path": css-clip-path,
	"getrandomvalues": getrandomvalues,
	"screen-orientation": screen-orientation,
	"font-loading": font-loading,
	"font-unicode-range": font-unicode-range,
	"gamepad": gamepad,
	"css-font-stretch": css-font-stretch,
	"font-size-adjust": font-size-adjust,
	"link-icon-png": link-icon-png,
	"link-icon-svg": link-icon-svg,
	"css-media-resolution": css-media-resolution,
	"css-image-set": css-image-set,
	"css-boxdecorationbreak": css-boxdecorationbreak,
);

// This is a list of elements that will not be available to any browser where html5semantic is 'n'
$html5elements: (
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	main,
	mark,
	nav,
	section,
	summary,
	time,
);

$markup-settings: 0 !default; // we can't declare an empty array as default
$bug-list: 0 !default;

@if $markup-settings == 0 {
	$markup-settings: ();
}

@if $bug-list == 0 {
	$bug-list: ();
}

$markup-settings: map-merge((
	"audio": true,
	"fix-link-focus-outline": false
), $markup-settings);

// This maps out where cross browser differences exist
// This list needs a lot more info, as it is too many items are listed as 'all'

$bug-list: map-merge((
	"text-size-adjust-after-orientation-change": ios_saf,
	"body-margin": all,
	"summary-block-display": (ie, firefox, op_mini),
	"main-block-display": (ie, op_mini),
	"excess-height-on-audio-elements": (ios_saf: (0, 5)),
	"progress-vertical-alignment": (chrome, firefox, opera),
	"address-styling": (ie: (0, 10)),
	"template-visible": (ie: all, safari: all, ios_saf: all, firefox: (0, 22)),
	"active-list-background-color": (ie: 10),
	"link-focus-outline": all,
	"abbr-title-border-missing": (ie, safari, chrome, ios_saf),
	"bolder-instead-of-bold": (firefox, safari, chrome, ios_saf),
	"dfn-not-italic": (safari, chrome, ios_saf),
	"h1-style-in-sections": (safari, chrome, ios_saf),
	"mark-styling-missing": (ie: (0, 9)),
	"small-size-not-80-percent": all,
	"sub-and-sup-line-height": all,
	"img-has-border-in-links": (ie: (0, 10)),
	"svg-overflow-visible": ie,
	"figure-margin-not-present": ie,
	"hr-height-is-messed": all,
	"pre-overflow-not-auto": all,
	"code-font-not-ems-and-not-monospace": all,
	"form-elements-not-inheriting-color": all,
	"form-elements-not-inheriting-font": all,
	"form-elements-have-margin": all,
	"button-overflow-hidden": ie,
	"button-inherits-text-transform": (firefox, ie, opera),
	"select-inherits-text-transform": (firefox),
	"messed-audio-and-video-controls": (android: (4.0, 4.1), ios_saf: all),
	"disbabled-elements-cursor": (android: (4.0, 4.1), ios_saf: all),
	"mozilla-inner-padding-on-inputs": firefox,
	"input-has-important-line-height": firefox,
	"radio-checkbox-padding-and-box-sizing": (ie: (0, 10)),
	"number-element-button-height": chrome,
	"search-element-appearance": (chrome, safari, ios_saf),
	"search-cancel-button-appearance": (chrome, safari, ios_saf),
	"fieldset-inconsistent-appearance": all,
	"legend-border": ie,
	"textarea-vertical-scrollbar": ie,
	"optgroup-font-weight": all,
	"table-cell-spacing": all,
	"image-only-data-uris": (ie: 8)
), $bug-list);
