@mixin _fontface($font-name, $font-weight, $font-style) {
	@font-face {
		font-family: $font-name;
		@content;
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

@mixin fontface($font-name, $file-name, $svg_id, $ttf-type: ttf, $font-weight: normal, $font-style: normal) {
	$url: false;
	$format: false;
	$can_embed: false;

	@if capable_of(woff2) {
		$url: '#{$file-name}.woff2';
		$format: 'woff2';
		$can_embed: true;
	} @elseif capable_of(woff) {
		$url: '#{$file-name}.woff';
		$format: 'woff';
		$can_embed: true;
	} @elseif capable_of(ttf) {
		@if $ttf-type == otf {
			$url: '#{$file-name}.otf';
			$format: 'opentype';
		} @else {
			$url: '#{$file-name}.ttf';
			$format: 'truetype';
		}
		$can_embed: true;
	} @elseif capable_of(eot) {
		$url: '#{$file-name}.eot?#iefix';
		$format: 'embedded-opentype';
	} @elseif capable_of(svg-fonts) {
		$url: '#{$file-name}.svg##{$svg_id}';
		$format: 'svg';
	}
	@if $url {
		@include _fontface($font-name, $font-weight, $font-style) {
			@if supports(base64-fonts) and capable_of(datauri) and not has_bug(image-only-data-uris) {
				src: asset-data-url($url) format('#{$format}');
			} @else {
				src: url(asset-path($url)) format('#{$format}');
			}
		}
	}
}

@function get($map, $key, $default: null) {
	@if map-has-key($map, $key) {
		@return map-get($map, $key);
	} @else {
		@return $default;
	}
}

@mixin font($font-key) {
	@if map-has-key($fonts, $font-key) {
		$font: map-get($fonts, $font-key);
		$name: map-get($font, name);
		$location: map-get($font, location);
		$svg_id: map-get($font, svg_id);
		$ttf_type: get($font, ttf_type, ttf);
		$weight: get($font, weight, normal);
		$weight: get($font, style, normal);
		@include fontface($name, $location, $svg_id, $ttf_type);
	} @else {
		@content;
	}
}

@function has-font($font-key) {
	@return map-has-key($fonts, $font-key);
}

@mixin font-family($font-key, $fallback: null) {
	@if has-font($font-key) {
		$font: map-get($fonts, $font-key);
		$name: map-get($font, name);
		$fallback: get($font, fallback, ()) !default;
		font-family: ('#{$name}', $fallback);
	} @else {
		@content;
	}
}
