=row do
	=columns do
		%p
			For browsers that support box-sizing and float we can render a basic responsive grid system. For older browsers, tables are used instead.
#demo-grid
	=row do
		=columns do
			.content='12×1'
	=row do
		=columns({medium: 6}) do
			.content='6×1'
		=columns({medium: 6}) do
			.content='6×1'
	=row do
		=columns({medium: 4}) do
			.content='4×1'
		=columns({medium: 4}) do
			.content='4×1'
		=columns({medium: 4}) do
			.content='4×1'
	=row do
		=columns({medium: 3}) do
			.content='3×1'
		=columns({medium: 3}) do
			.content='3×1'
		=columns({medium: 3}) do
			.content='3×1'
		=columns({medium: 3}) do
			.content='3×1'
	=row do
		=columns({medium: 2}) do
			.content='2×1'
		=columns({medium: 2}) do
			.content='2×1'
		=columns({medium: 2}) do
			.content='2×1'
		=columns({medium: 2}) do
			.content='2×1'
		=columns({medium: 2}) do
			.content='2×1'
		=columns({medium: 2}) do
			.content='2×1'
	=row do
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
		=columns({medium: 1}) do
			.content='1×1'
